* {
    max-width: auto;
}

body {
    background-color: #FAFAFA;
}

.site-name {
    font-family: 'Great Vibes';
    font-size: 5rem;
    text-align: center;
    /* color: #f85356; */
    color: blue;
    margin-bottom: 0;
    padding-bottom: 0px;
}

.site-name-sub {
    padding-top: 0px;
    font-family: 'Paprika', cursive;
    text-align: center;
}

.site-name-tag {
    font-family: 'Paprika', cursive;
    text-align: center;
}

/* #phone-number-and-week {
    display: flex;
    justify-content: center;
} */


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
}